# Target Guided Ordinal Encoding
Replace each catgory in the categorical variable with a numerical value based on the Mean, Median of the target variable for that category.

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
# creating a dataframe w categorical variable
df = pd.DataFrame({
    'city': ['New York', 'London', 'Paris', 'Tokyo', 'New York', 'Paris'],
    'price': [200, 150, 300, 250, 180, 320]
})

In [3]:
df

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [4]:
mean_price = df.groupby('city')['price'].mean().to_dict()

In [5]:
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [6]:
df['city_encoded'] = df['city'].map(mean_price)

In [8]:
df[['price','city_encoded']]

   price  city_encoded
0    200         190.0
1    150         150.0
2    300         310.0
3    250         250.0
4    180         190.0
5    320         310.0

# Task

In [24]:
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [20]:
time_mean_total_bill = tips.groupby('time')['total_bill'].mean().sort.values()

NameError: name 'tips' is not defined

In [25]:
time_encoding_map = {time: i for i, time in enumerate(time_mean_total_bill.index)}

NameError: name 'time_mean_total_bill' is not defined

In [ ]:
tips['time_encoded'] = tips['time'].map(time_encoding_map)

In [ ]:
tips[['time', 'time_encoded']]