# Assignment (24th Feb) : Pandas Advance

### Q1. List any five functions of the pandas library with execution.

**ANS**: Some fuctions of the Padas Library are as follows:

1. head() - Display the first n rows of the DataFrame

2. describe() - Generate descriptive statistics

3. groupby() - Group data by a column and perform an aggregate function

4. sort_values() - Sort the DataFrame by a column

5. dropna() - Remove rows with missing values

In [1]:
import pandas as pd

# Sample DataFrame 
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva'],
    'Age': [25, 30, 27, 35, 22],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 55000, 65000, 48000]
}
df = pd.DataFrame(data)

# 1. head() 
print("1. head()")
print(df.head(3))
print("\n")

# 2. describe()
print("2. describe()")
print(df.describe())
print("\n")

# 3. groupby()
print("3. groupby()")
print(df.groupby('Gender')['Salary'].mean())
print("\n")

# 4. sort_values()
print("4. sort_values()")
print(df.sort_values(by='Age'))
print("\n")

# 5. dropna()
# For demonstration, let's add a NaN value and then drop it
df_with_nan = df.copy()
df_with_nan.loc[2, 'Age'] = pd.NA
print("5. dropna()")
print(df_with_nan.dropna())

1. head()
     Name  Age  Gender  Salary
0   Alice   25  Female   50000
1     Bob   30    Male   60000
2  Claire   27  Female   55000


2. describe()
             Age        Salary
count   5.000000      5.000000
mean   27.800000  55600.000000
std     4.969909   7021.395873
min    22.000000  48000.000000
25%    25.000000  50000.000000
50%    27.000000  55000.000000
75%    30.000000  60000.000000
max    35.000000  65000.000000


3. groupby()
Gender
Female    51000.0
Male      62500.0
Name: Salary, dtype: float64


4. sort_values()
     Name  Age  Gender  Salary
4     Eva   22  Female   48000
0   Alice   25  Female   50000
2  Claire   27  Female   55000
1     Bob   30    Male   60000
3   David   35    Male   65000


5. dropna()
    Name Age  Gender  Salary
0  Alice  25  Female   50000
1    Bob  30    Male   60000
3  David  35    Male   65000
4    Eva  22  Female   48000

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [2]:
import pandas as pd

def reindex_dataframe(df):
    # Create a new index that starts from 1 and increments by 2 for each row
    new_index = range(1, 2 * len(df) + 1, 2)
    
    # Re-index the DataFrame
    df.index = new_index
    
    return df

# Example DataFrame
data = {
    'A': [10, 20, 30],
    'B': [40, 50, 60],
    'C': [70, 80, 90]}

df = pd.DataFrame(data)

# Re-index the DataFrame
df_reindexed = reindex_dataframe(df)
print(df_reindexed)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [3]:
import pandas as pd

data = {'Values': [15, 25, 35, 45, 55]}

df = pd.DataFrame(data)

def sum_first_three_values(df):
    if 'Values' in df.columns:
        # Selecting the first three values from the 'Values' column
        first_three_values = df['Values'].head(3)
        
        # Calculating the sum of the first three values
        sum_values = first_three_values.sum()
        
        # Printing the sum to the console
        print(f"Sum of the first three values in 'Values' column: {sum_values}")
    else:
        print("Error: 'Values' column not found in the DataFrame.")

        

sum_first_three_values(df)

Sum of the first three values in 'Values' column: 75

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [4]:
import pandas as pd

# Example DataFrame
data = {
    'Text': [
        "Hello world",
        "This is a sentence",
        "Python programming is fun"
    ]
}
df = pd.DataFrame(data)

# Function to count words in each row of 'Text' column
def count_words(text):
    # Split the text into words using whitespace as delimiter
    words = text.split()
    # Return the number of words
    return len(words)

# Apply the function to create 'Word_Count' column
df['Word_Count'] = df['Text'].apply(count_words)

# Display the DataFrame with the new 'Word_Count' column
print(df)

                        Text  Word_Count
0                Hello world           2
1         This is a sentence           4
2  Python programming is fun           4

### Q5. How are DataFrame.size() and DataFrame.shape() different?

**ANS**: DataFrame.size() and DataFrame.shape() are both attributes of a Pandas DataFrame, but they serve different purposes and provide different kinds of information about the DataFrame.

- **DataFrame.size()**: Gives the total number of elements (cells) in the DataFrame (rows * columns).
- **DataFrame.shape()**: Provides a tuple representing the dimensions of the DataFrame ((rows, columns)).

In other words, DataFrame.size() tells you how many data points are present in the DataFrame, while DataFrame.shape() tells you the structure of the DataFrame in terms of its dimensions (rows and columns).

### Q6. Which function of pandas do we use to read an excel file?

**ANS:** In Pandas, we use the `read_excel()` function to read data from an Excel file into a Pandas DataFrame. This function is versatile and widely used for importing data from Excel files into Pandas DataFrames, making it easy to manipulate and analyze data stored in spreadsheet format.

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [6]:
import pandas as pd

# Example DataFrame
data = {'Email': [
        'john.doe@example.com',
        'huzaifa.khan@example.com',
        'pw.skills@example.com'
    ]
}
df = pd.DataFrame(data)


def extract_username(email):
    username = email.split('@')[0]
    return username

# Apply the function to create 'Username' column
df['Username'] = df['Email'].apply(extract_username)

# Display the DataFrame with the new 'Username' column
print(df)

                      Email      Username
0      john.doe@example.com      john.doe
1  huzaifa.khan@example.com  huzaifa.khan
2     pw.skills@example.com     pw.skills

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [7]:
import pandas as pd

# Example DataFrame
data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)


def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Calling the function
selected_df = select_rows(df)

print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [9]:
import pandas as pd

# Example DataFrame
data = {'Values': [10, 20, 30, 40, 50]}

df = pd.DataFrame(data)


def calculate_stats(df):
    # Calculate mean
    mean_value = df['Values'].mean()
    
    # Calculate median
    median_value = df['Values'].median()
    
    # Calculate standard deviation
    std_value = df['Values'].std()
    
    return mean_value, median_value, std_value

# Call the function 
mean_val, median_val, std_val = calculate_stats(df)

# Print the results
print(f"Mean: {mean_val}")
print(f"Median: {median_val}")
print(f"Standard Deviation: {std_val}")

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [10]:
import pandas as pd

# Example DataFrame
data = {
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Sales': [100, 110, 105, 120, 130, 125, 115, 135, 140, 145]}

df = pd.DataFrame(data)


def calculate_moving_average(df):
    # Sort DataFrame by 'Date' if it is not already sorted
    df = df.sort_values(by='Date').reset_index(drop=True)
    
    # Calculate moving average with window size of 7 days
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

# Call the function 
df_with_ma = calculate_moving_average(df)


print(df_with_ma)

        Date  Sales  MovingAverage
0 2023-01-01    100     100.000000
1 2023-01-02    110     105.000000
2 2023-01-03    105     105.000000
3 2023-01-04    120     108.750000
4 2023-01-05    130     113.000000
5 2023-01-06    125     115.000000
6 2023-01-07    115     115.000000
7 2023-01-08    135     120.000000
8 2023-01-09    140     124.285714
9 2023-01-10    145     130.000000

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [11]:
import pandas as pd

# Example DataFrame
data = {'Date': pd.date_range(start='2023-01-01', periods=5)}

df = pd.DataFrame(data)

def add_weekday_column(df):
    # Convert 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Create 'Weekday' column using apply function with lambda
    df['Weekday'] = df['Date'].apply(lambda x: x.strftime('%A'))
    
    return df

# Call the function 
df_with_weekday = add_weekday_column(df)

print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [12]:
import pandas as pd

# Example DataFrame
data = {'Date': pd.date_range(start='2023-01-01', end='2023-02-10')}

df = pd.DataFrame(data)


def select_rows_in_date_range(df, start_date, end_date):
    # Convert start_date and end_date to datetime objects if they are not already
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)
    
    # Filter rows based on date range
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_df = df.loc[mask]
    
    return selected_df

# Call the function 
start_date = '2023-01-01'
end_date = '2023-01-31'
selected_df = select_rows_in_date_range(df, start_date, end_date)

print(selected_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

**ANS:** To use the basic functions of Pandas, the first and foremost necessary library that needs to be imported is `pandas` itself. 

Hereâ€™s how you typically import Pandas:

`import pandas as pd`