# Assignment - 15 (Databases)

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

ANS: A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of data. Databases are used to store and manage vast amounts of information. SQL databases are based on a relational data model, where data is organized into tables with predefined schemas. They use SQL as the standard language for querying and manipulating data. Whereas, NoSQL databases, on the other hand, employ a variety of data models, such as key-value pairs, documents, graphs, or wide-column stores, depending on the specific NoSQL database type. They offer more flexible schemas and are designed to handle large-scale distributed data with high velocity and variety.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANS: DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and schemas.
1. The CREATE statement is used to create a new database object. It can be used to create tables, views, indexes, and other database objects. 

EG: CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
);

2. The DROP statement is used to delete an existing database object. It removes the object and all associated data from the database. 

EG: DROP TABLE Employees;

3. The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, and other properties of a table. 

EG: ALTER TABLE Employees
ADD COLUMN Email VARCHAR(100);

4. The TRUNCATE statement is used to remove all data from a table, but it keeps the table structure intact. Unlike the DELETE statement, which removes rows one by one, TRUNCATE is a faster operation as it deallocates the data pages in one step. 

EG: TRUNCATE Employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS: DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate data within a database. DML statements are responsible for inserting, updating, and deleting data from database tables.
1. The INSERT statement is used to add new records into a table. It allows you to insert one or multiple rows of data into a table. Here's an example of inserting a single row of data into a table:

INSERT INTO Customers (CustomerID, FirstName, LastName, Email)
VALUES (1, 'John', 'Doe', 'john.doe@example.com');

2. The UPDATE statement is used to modify existing records in a table. It allows you to update one or multiple columns of one or more rows in a table.

UPDATE Customers
SET Email = 'newemail@example.com'
WHERE CustomerID = 1;

3. The DELETE statement is used to remove records from a table. It allows you to delete one or multiple rows from a table based on specified conditions. 

DELETE FROM Customers
WHERE LastName = 'Doe';

### Q4. What is DQL? Explain SELECT with an example.

ANS: DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve and query data from a database. DQL statements are primarily focused on retrieving and filtering data from one or more tables based on specified criteria.
The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns to be retrieved, the table(s) from which to retrieve the data, and any filtering or sorting criteria. For example, 

SELECT FirstName, LastName, Email

FROM Customers

WHERE Age > 30;

### Q5. Explain Primary key and Foreign key.

ANS: 
1. Primary keys are unique identifiers assigned to each row in a database table. They serve as a means of uniquely identifying and distinguishing individual records within a table. The primary key ensures that each row has a unique value or combination of values that can be used to identify it. Its key characters include: uniqueness, indexing, unique identity and a fact that the primary key columns cannot contain null values
2. Foreign Keys: A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables, known as the parent table (referenced table) and the child table (referring table). Some key points about foreign keys include: Constraints, Cascading actions, Many-to-One Relationship, Referal Integrity, etc

### Q6. Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

ANS: 
1. The 'cursor()' method creates a cursor object that allows us to execute SQL statements and retrieve data from the database. It provides methods like 'execute()', fetchone()', 'fetchall()', etc., to interact with the database.

2. The 'execute()' method is used to execute SQL queries or statements. It takes the SQL query as a parameter and performs the specified operation, such as retrieving data, modifying data, creating tables, and more.

In [ ]:
# Required Code:
import mysql.connector

# Establishing a connection to MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = connection.cursor()

# Executing a SQL query
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetching and printing the results
results = cursor.fetchall()
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
connection.close()

### Q7. Give the order of execution of SQL clauses in an SQL query.

ANS: The general order of execution for SQL clauses in an SQL query is as follows:

1. FROM: Specifies the tables or views from which data will be retrieved.
2. JOIN: Specifies the join conditions to combine multiple tables if necessary.
3. WHERE: Filters the rows based on specified conditions.
4. GROUP BY: Groups the rows based on specified columns.
5. HAVING: Filters the groups based on specified conditions.
6. SELECT: Specifies the columns to be retrieved.
7. DISTINCT: Removes duplicate rows from the result set.
8. ORDER BY: Sorts the result set based on specified columns.
9. LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows.
10. UNION/INTERSECT/EXCEPT: Combines or compares multiple result sets.
11. INSERT/UPDATE/DELETE: Modifies data in the database.
12. COMMIT/ROLLBACK: Commits or rolls back a transaction.
13. CREATE/ALTER/DROP: Modifies the structure of the database objects.