# Measure of dispersion

In [1]:
# Varience
ages = [22,23,24,45,56,78,89,90]

In [2]:
import numpy as np

In [3]:
mean = np.mean(ages)

In [4]:
mean

53.375

In [5]:
var = np.var(ages)

In [6]:
var

757.984375

In [7]:
std = np.std(ages)

In [8]:
std

27.53151603163182

In [9]:
import pandas as pd

In [12]:
data = [[10,12,13],[21,22,23],[32,33,34]]
data

[[10, 12, 13], [21, 22, 23], [32, 33, 34]]

In [14]:
df = pd.DataFrame(data,columns=["A","B","C"])
df

    A   B   C
0  10  12  13
1  21  22  23
2  32  33  34

In [15]:
df.var()

A    121.000000
B    110.333333
C    110.333333
dtype: float64

In [16]:
df.var(axis=1)

0    2.333333
1    1.000000
2    1.000000
dtype: float64

In [17]:
df.var(axis=0)

A    121.000000
B    110.333333
C    110.333333
dtype: float64